h1{
    color: white;
}

p{
    color: white;
}

body{
    background-color: rgb(0, 26, 26);
}

#Github{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: aquamarine;
}
.image-container{
    display: flex;
    align-items: center;
}

.aboutMe{
    flex : 1;
}

.my-photo{
    width: 200px;
    order: -1;
    border-radius: 60%;
    margin-top: 20px;
}

footer{
    padding: 20px;
    text-align: center;
}

#Resume{
    border: none;
    padding-top: 10px;
    font-weight: bold;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: aquamarine;
}

.gradient-div {
    width: 300px;
    height: 200px;
    background: linear-gradient(to bottom, #ff8a00, #e52e71);
    /* Linear gradient */
    background: radial-gradient(circle, #ff8a00, #e52e71);
    /* Radial gradient */
}

